{%extends 'base.html'%}
{%block body%}
<div class="containers">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr>
                    <th>Task_Name</th>
                    <th>User</th>
                    <th>created-date</th>
                    <th>status</th>
                    <th>Action</th>
                </tr>
                    {%for t in tasks%}
                    <tr>
                        <td>{{t.task_name}}</td>
                        <td>{{t.user}}</td>
                        <td>{{t.created_date}}</td>
                        <td>{{t.status}}</td>
                        <td>
                            <a href="{%url 'task-detail' t.id%}" class="btn btn-primary">View</a>
                            <a href="{%url 'task-delete' t.id%}" class="btn btn-danger">Delete</a>
                            <a href="{%url 'task-edit' t.id%}" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                    {%endfor%}
            </table>
        </div>
        <div class="col-2"></div>
        </div>
    </div>
</div>
{%endblock%}